{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/main_css.css' %}">
</head>
<body>
    <header>
        <div class="links">
            <a href="">
                О компании
            </a>
            <a href="">
                Контакты
            </a>
            <a href="">
                Доставка и оплата
            </a>
        </div>
        <div class="block_functional">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.svg' %}" alt="">
                </a>
            </div>
            <div class="search_block">
                <form class="form_search" method="get" action="{% url 'home' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Поиск</button>
                </form>
            </div>
            <div class="links_block">
                <a href="{% url 'home' %}">
                    <img class="links_block_img1" src="{% static 'images/shopping_cart.png' %}" alt="">
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'home' %}">
                        <img class="links_block_img2" src="{% static 'images/profile_icon.png' %}" alt="">
                        <a href="{% url 'logout_view' %}">{{ request.user }}</a>
                    </a>
                {% else %}
                    <a href="{% url 'log_in_page' %}">
                        <img class="links_block_img2" src="{% static 'images/profile_icon.png' %}" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="links_sale">
            <a href="">
                Акции
            </a>
            <a href="">
                Розы
            </a>
            <a href="">
                Букеты до 2500 руб
            </a>
            <a href="">
                Собери свой букет !
            </a>
            <a href="">
                Подарочные букеты
            </a>
            <a href="">
                Сладкие букеты
            </a>
        </div>
    </header>
    
    <div class="ad">
        
        {% block ad %}
        {% endblock %}
    </div>

    <div class="stocks">
        {% block flowers %}
        {% endblock %}
    
        {% block roses %}
        {% endblock %}

        {% block chrysanthemums %}
        {% endblock %}

        {% block disounts %}
        {% endblock %}
    </div>

    <div class="results_block">
        {% block results %}
        {% endblock %}  
    </div>

    <footer>
        <div class="logo_footer">
            <img src="{% static 'images/logo.svg' %}" alt="">
            <p>2023© Цветочная база ROSES KAZAN. Доставка цветов в Казани.</p>
        </div>
        <div class="info">
            <p>Информация</p>
            <a href="">Контакты</a>
            <a href="">Доставка и оплата</a>
            <a href="">О компании</a>
        </div>
        <div class="social_links">
            <p>Наши социальные сети</p>
            <a href="">
                <img src="{% static 'images/vk.png' %}" alt="">
            </a>
            <a href="">
                <img src="{% static 'images/whatsapp.png' %}" alt="">
            </a>
        </div>

    </footer>
</body>
</html>

