{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}

{% block ad %}
<head>
    <link rel="stylesheet" href="{% static 'css/ad_css.css' %}">
</head>
<div class="block_ad">
    
    <a href="">
        <img src="{% static 'images/ad.png' %}" alt="">
        <p>Не знаете что подарить своей девушке ? 
            Собери букет который ей точно понравится !</p>
    </a>
</div>
{% endblock %}


{% block flowers %}
<head>
    <link rel="stylesheet" href="{% static 'css/stocks_css.css' %}">
</head>
<p class="stocks_title">Цветы</p>

<div class="stocks_blocks">
    {% for flower in flowers %}
    <a href="" class="flower_block">
        <img src="{% url 'get_flower_image' flower_id=flower.id %}" alt="Flower Image">
        <p class="title_flower">

            {{ flower.name }}

        </p>
        <div class="flower_info">
            <p class="flower_avail">Всего - {{ flower.free_flowers }}</p>
            <p class="flower_price">Цена - {{ flower.price|spacecomma }} руб</p>
            <button>Заказать</button>
        </div>
    </a>
{% endfor %}
</div>


{% endblock %}

{% block roses %}
<head>
    <link rel="stylesheet" href="{% static 'css/stocks_css.css' %}">
</head>
<p class="stocks_title">Розы</p>
{% for flower in flowers %}
    <div class="stocks_blocks">
        <div class="flower_block">
            <img src="{% static 'images/flower.jpg' %}" alt="">
            <p class="title_flower">
                Композиция из Хризантем
            </p>
            <div class="flower_info">
                <p class="flower_price">Цена - 1200 руб</p>
                <button>Заказать</button>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}