{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}

{% block ad %}
<head>
    <link rel="stylesheet" href="{% static 'css/ad_css.css' %}">
</head>
<div class="block_ad">
    
    <a href="">
        <img src="{% static 'images/ad.png' %}" alt="">
        <p>Не знаете что подарить своей девушке ? 
            Собери букет который ей точно понравится !</p>
    </a>
</div>
{% endblock %}


{% block flowers %}
<head>
    <link rel="stylesheet" href="{% static 'css/stocks_css.css' %}">
</head>
<p class="stocks_title">Все букеты</p>

<div class="stocks_blocks">
    {% for flower in flowers %}
    <a href="" class="flower_block">
        <img src="{% url 'get_flower_image' flower_id=flower.id %}" alt="Flower Image">
        <p class="title_flower">

            {{ flower.name }}

        </p>
        <div class="flower_info">
            <p class="flower_avail">Всего - {{ flower.free_flowers }} штук</p>
            <p class="flower_price">Цена - {{ flower.price|spacecomma }} руб</p>
            <button>Заказать</button>
        </div>
    </a>
{% endfor %}
</div>


{% endblock %}

{% block roses %}
<head>
    <link rel="stylesheet" href="{% static 'css/stocks_css.css' %}">
</head>
<p class="stocks_title">Розы</p>
{% for rose in roses %}
    {% if rose.category == "Розы" %}
        <div class="stocks_blocks">
            <div class="flower_block">
                <img src="{% url 'get_flower_image' flower_id=rose.id %}" alt="Flower Image">
                <p class="title_flower">
                    {{ rose.name }}
                </p>
                <div class="flower_info">
                    <p class="flower_avail">Всего - {{ flower.free_flowers }} штук</p>
                    <p class="flower_price">Цена - {{ flower.price|spacecomma }} руб</p>
                    <button>Заказать</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
{% block chrysanthemums %}
<head>
    <link rel="stylesheet" href="{% static 'css/stocks_css.css' %}">
</head>
<p class="stocks_title">Хризантемы</p>
{% for chrysanthemum in chrysanthemums %}
    {% if chrysanthemum.category == "Хризантемы" %}
        <div class="stocks_blocks">
            <div class="flower_block">
                <img src="{% url 'get_flower_image' flower_id=chrysanthemum.id %}" alt="Flower Image">
                <p class="title_flower">
                    {{ chrysanthemum.name }}
                </p>
                <div class="flower_info">
                    <p class="flower_avail">Всего - {{ chrysanthemum.free_flowers }} штук</p>
                    <p class="flower_price">Цена - {{ chrysanthemum.price|spacecomma }} руб</p>
                    <button>Заказать</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block disounts %}
<p class="stocks_title">Скидки</p>
{% for discount in discounts %}
    <div class="stocks_blocks">
        <div class="flower_block">
            <img src="{% url 'get_flower_image' flower_id=discount.flower.id %}" alt="Flower Image">
            <p class="title_flower">
                {{ discount.flower.name }}
            </p>
            <div class="flower_info">
                <p class="flower_avail">Всего - {{ discount.flower.free_flowers }} штук</p>
                <p class="flower_price">Цена - {{ discount.discount_price|spacecomma }} руб</p>
                <button>Заказать</button>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
