

.block_ad {
    width: 100%;
    text-align: center;
}

.block_ad img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.block_ad p {
    font-family: Inter;
    font-size: 2.8vh;
    color: #A771C9;
    margin-top: -13vh;
    font-weight: 700;
    max-width: 37%;
    margin-left: auto;
    margin-right: auto;
    width: 660px;
}

.block_ad a{
    text-decoration: none;
}