
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
}


body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}


/* Стиль ссылкам в header  */
header {
    border-bottom: 1px solid #757575;
    width: 100%;
}
.links a{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    color: #9A9A9A;
    transition: color 0.4s ease;
}
.links a{
    text-decoration: none;
}
.links {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4px;
}
.links a:hover{
    color: black;
}

/* Стиль логоптипа */

.logo img {
    width: 200px;
}
.logo {
    padding-right: 30px;
}

/* Стиль блока поиска с кнопкой */
.block_functional {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}

.form_search {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    
}

.form_search input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 600px;
    background-color: #D9D9D9;
    font-family: Inter;
    font-size: 15px;
    padding-left: 30px;
    transition:  0.4s ease;
}

.form_search input::placeholder{
    font-family: Inter;
    font-size: 15px;
    margin-left: 20px;
}

.form_search input:focus {
    outline: none;
    border-color: #eb5bb1;
    background-color: #f0f0f0;
}
.form_search input:hover {
    outline: none;
    border-color: #eb5bb1;
    background-color: #f0f0f0;
}

.form_search button {
    width: 150px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eb5bb1;
    background-color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    transition:  0.4s ease;
}

.form_search button:hover {
    border: 1px solid #d97bb4;
    background-color: #f0f0f0;
    color: #eb5bb1;
    font-family: Inter;
    font-weight: 300;
}


/* стиль логотипов корзины и профиля */

.links_block {
    margin-left: 10%;
}

.links_block a{
    text-decoration: none;
}
.links_block img {
    width: 40px;
    margin-left: 100px;
}


/* Стиль блока с ссылками на акции */
.links_sale {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.links_sale a{
    text-decoration: none;
    color: black;
    font-family: Inter;
    font-size: 17px;
    padding: 20px;
    font-weight: 500;
    transition:  0.4s ease;
}

.links_sale a:hover{
    color: #eb5bb1;
}

/* Стиль блока контента */
.stocks_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.stocks {
    margin-top: 120px;
    margin-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
}
.stocks_title{
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
}


/* Стиль блока футер */
footer {
    height: 200px;
    background-color: #CCCCCC;
    border-top: 10px solid #E3E3E3;
    display: flex;
    flex-wrap: nowrap;
    padding: 50px 50px;
    gap: 120px;
}

.logo_footer img{
    width: 200px;
}
.logo_footer p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    color: #525252;
}

.info {
    width: 150px;
    font-family: Inter;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;

}
.info p{
    font-size: 18px;
    font-weight: 600;
}
.info a{
    text-decoration: none;
    color: #525252;
    font-weight: 500;
    transition:  0.4s ease;
    margin-bottom: 15px;
}
.info a:hover{
    color: #eb5bb1;
}

.social_links {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.social_links img, .social_links a{
    width: 50px;
    height: 50px;
}
.social_links a{
    margin-top: -16px;
}

.social_links p{
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.social_links, .info {
    margin-left: 200px;
}