{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}
{% block profile %}

<head>
    <link rel="stylesheet" href="{% static 'css/profile_css.css' %}">
</head>
<div class="profile_block">
    
    <div class="update_info">
        <div class="title_info">
            <p>Мои данные</p>
        </div>
    
        <div class="user_info">
            <div class="message">
                <p>{{ message }}</p>
            </div>
            <div class="forms">
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <div class="name">
                        <p>Имя</p>
                        <input type="text" name="name" id="name" value="{{ profile_info.name }}">
                    </div>
                    <div class="last_name">
                        <p>Фамилия</p>
                        <input type="text" name="last_name" id="last_name" value="{{ profile_info.lastname }}">
                    </div>
                    <div class="address">
                        <p>Адресс</p>
                        <input type="text" name="address" id="address" value="{{ profile_info.address }}">
                    </div>
                    <div class="email">
                        <p>Адресс доставки</p>
                        <input type="email" name="email" id="email" value="{{ email }}">
                    </div>
                    <button type="submit" class="button_submit">Сохранить !</button>
                </form>  
            </div>
        </div>
    </div>
</div>

{% endblock %}